@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

*{
  scroll-behavior: smooth;
   font-family: "Poppins", sans-serif;
   /* overflow-x: hidden; */
   overflow-x: initial;
}
button{
  cursor: pointer;
}
